<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  </head>
  <body>
    <header>
      <h1>yolo infinity 55</h1>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <p>&copy; 2025 John Liu</p>
    </footer>
  </body>
</html>